<html>
	<head>
		<title>Vacation App</title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<div id="navbar">
			<a href="#">Home</a> | <a href="#">Budget</a> | <a href="#">To Do</a> | <a href="#">Amenities</a> | <a href="#">Transportation</a> | <a href="#">Lodging</a>
		</div>
		<h1>We are here to help you plan your next vacation</h1>

		<!-- Form for the destination and other trip info -->
		<form action="/" method="post">
			<fieldset>
			<legend>Trip Info</legend>
				<label>Origin</label><input type="text" name="origin"><br>
				<label>Destination</label><input type="text" name="destination"><br>
				<label>Transportation</label><select name="transportation">
					<option value="-" selected>-</option>
					<option value="flight">Flight</option>
					<option value="train">Train</option>
					<option value="car">Car</option>
					<option value="cruise">Cruise</option>
					<option value="Bus">Bus</option>
				</select><br>
				<label>How much can you spend on this vacation?</label><input type="number" name="budget" required><br>
				<input type="submit" value="Submit" action="button">
			</fieldset>
		</form>

	</body>


</html>