<html>
	<head>
		<link rel="stylesheet" type="text/css" href="style.css">
		<title>Lodging</title>
	</head>

	<body>
		<div id="navbar">
			<a href="index.erb">Home</a> | <a href="#">Budget</a> | <a href="#">To Do</a> | <a href="#">Amenities</a> | <a href="transportation.erb">Transportation</a> | <a href="#">Lodging</a>
		</div>

		<div class="lodging" id="hotel">
			<h2>Hotel Choices</h2>
			<a href="http://www.orbitz.com">Orbitz</a>
			<a href="http://www.expedia.com">Expedia</a>
			<a href="http://www.hotwire.com">Hotwire</a>
			<a href="http://www.hotels.com">Hotels.com</a>
			<a href="http://www.tripadvisor.com">Tripadvisor.com</a>
		</div>

		<div class="lodging" id="rentals">
			<h2>Short Term Rentals</h2>	
			<a href="https://www.airbnb.com/">Airbnb</a>
			<a href="http://www.flipkey.com/">Flipkey</a>
			<a href="http://www.homeaway.com/">HomeAway</a>

		</div>

		<div class="lodging" id="local">
			<h2>Local or Private listing</h2>
			<a href='<%=destination%>".craigslist.org"'>Craigslist</a>
			<a href="https://www.couchsurfing.org/">Couch Surfing</a>		
		</div>



	</body>



</html>