<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
		<title>Vacation App</title>
	</head>
	<body>
		<div id="navbar">
			<a href="/">Home</a> | <a href="budget">Budget</a> | <a href="checklist">To Do</a> | <a href="amenities">Amenities</a> | <a href="transportation">Transportation</a> | <a href="lodging">Lodging</a> | <a href="print">Print-out Page</a>
		</div>
		<h1>We are here to help you plan your next vacation</h1>
		<div>
			 <form action="/budget" method="post">
			 	<label> Total Budget </label> <input type="number" name="totalbudget" value=<%= user_budget %> >
			 	<label>Transportation</label><input type="number" name="transportation" value="0">
			 	<label>Lodging</label><input type="number" name="lodging" value="0">
			 	<label>Amenities</label><input type="number" name="amenities" value="0">
			 	<label>Dining</label><input type="number" name="dining" value="0">
			 	<label>Other costs (insurance, visa, vaccines, etc)</label><input type="number" name="other" value="0">
			 	<input type="submit" name="action" value="Calculate" id="btn">
			 </form>
		</div>
		<div><%= total_box %></div>
		<div><%= total_box_update %></div>
	
		


	</body>


</html>