<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="style_index.css">
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css"> 
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/base-min.css">
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/forms-min.css">
		<title>Budget</title>
	</head>
	<body>

	<div class="navbar">
    	<div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
        	<ul>
            	<li class="pure-menu-selected"><a href="/">Home</a></li>
            	<li><a href="checklist">To Do</a></li>
            	<li><a href="budget">Budget</a></li>
            	<li><a href="bills">Splitting Bills</a></li>
            	<li><a href="transportation">Transportation</a></li>
            	<li><a href="lodging">Lodging</a></li>
            	<li><a href="print">Print-out Page</a></li>
        	</ul>
    	</div>
	</div>

		<h1>We are here to help you plan your budget</h1>
		
		<div class="theform">
		<div class="pure-g">
			
			 <form action="/budget" method="post" class="pure-form pure-form-stacked">
			 	<fieldset>
			 	<div class="pure-g-r">
			 	
			 	<div class="pure-u-1-1">
			 	<label> Total Budget </label> <input type="number" name="totalbudget" value=<%= user_budget %> >
			 	</div>

			 	<div class="pure-u-1-1">
			 	<label>Transportation</label><input type="number" name="transportation" value="0">
			 	</div>

			 	<div class="pure-u-1-1">
			 	<label>Lodging</label><input type="number" name="lodging" value="0">
			 	</div>

			 	<div class="pure-u-1-1">
			 	<label>Amenities</label><input type="number" name="amenities" value="0">
			 	</div>

			 	<div class="pure-u-1-1">
			 	<label>Dining</label><input type="number" name="dining" value="0">
			 	</div>

			 	<div class="pure-u-1-1">
			 	<label>Other costs (insurance, visa, vaccines, etc)</label><input type="number" name="other" value="0">
			 	<input class="pure-button pure-button-primary" type="submit" name="action" value="Calculate" id="btn">
			 	</div>
			 	
			 	</div>
			 	</fieldset>
			 </form>
		
		</div>
		</div>


		<div><%= total_box %></div>
		<div><%= total_box_update %></div>

	</body>


</html>