<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
		<title>Vacation App</title>
	</head>
	<body>
		<div id="navbar">
			<a href="#">Home</a> | <a href="#">Budget</a> | <a href="#">To Do</a> | <a href="#">Amenities</a> | <a href="transportation.erb">Transportation</a> | <a href="lodging.erb">Lodging</a>
		</div>
		<h1>We are here to help you plan your next vacation</h1>

		<!-- Form for the destination and other trip info -->
		<div>
			<form action="/" method="post">
					<label>Name</label><input type="text" name="name">
					<input type="submit" value="Submit" action="button" id="btn">
			</form>
		</div>
			


			<ul>
				<% array_todo.each do |item| %>
					<li><%= item %></li>
				<% end %>
				<% user_todo.each do |user_item| %>
					<li><%= user_item %></li>
				<% end %>

			</ul>
		<div>
			<form action="/checklist" method="post">
					<label>To do item</label><input type="text" name="todo">
					<input type="submit" value="Submit" action="button" id="btn">
			</form>
		</div>
	</body>


</html>