<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="style_index.css">
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css"> 
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/base-min.css">
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/forms-min.css">
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
		<title>Checklist</title>
	</head>
	<body>

	<div class="navbar">
    	<div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
        	<ul>
            	<li class="pure-menu-selected"><a href="/">Home</a></li>
            	<li><a href="checklist">To Do</a></li>
            	<li><a href="budget">Budget</a></li>
            	<li><a href="bills">Splitting Bills</a></li>
            	<li><a href="transportation">Transportation</a></li>
            	<li><a href="lodging">Lodging</a></li>
            	<li><a href="print">Print-out Page</a></li>
        	</ul>
    	</div>
	</div>
	<br>
	<br>
			<ul>
				<% array_todo.each do |item| %>
					<i class="fa fa-square-o"></i><li><%= item %></li>
				<% end %>
				<% user_todo.each do |user_item| %>
					<li><%= user_item %></li>
				<% end %>

			</ul>
		<div>
			<form action="/checklist" method="post">
					<label>To do item</label><input type="text" name="todo" autofocus>
					<input type="submit" value="Submit" action="button" id="btn">
			</form>
		</div>
	</body>


</html>