<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
		<title>Vacation App</title>
	</head>
	<body>
		<div id="navbar">
			<a href="/">Home</a> | <a href="budget">Budget</a> | <a href="checklist">To Do</a> | <a href="amenities">Amenities</a> | <a href="transportation">Transportation</a> | <a href="lodging">Lodging</a> | <a href="print">Print-out Page</a>
		</div>
		<h1>We are here to help you plan your next vacation</h1>

		<!-- Form for the destination and other trip info -->
		<div class="pure-g">
			<form action="/budget" method="post" class="pure-u-1-2">
				<fieldset class="theform">
				<legend>Trip Info</legend>
					<label>Origin</label><input type="text" name="origin">
					<label>Destination</label><input type="text" name="destination">
					<label>Transportation</label><select name="transportation_type">
						<option value="-" selected>-</option>
						<option value="Flight">Flight</option>
						<option value="Train">Train</option>
						<option value="Car">Car</option>
						<option value="Cruise">Cruise</option>
						<option value="Bus">Bus</option>
					</select><br>
					<label>How much can you spend on this vacation?</label><input type="number" name="budget" required>
					<input type="submit" value="Submit" action="button" id="btn">
				</fieldset>
			</form>
		</div>
		<div class="pure-u-1-2"></div>
	</body>


</html>