<html>
	<head>
		<link rel="stylesheet" type="text/css" href="style.css">
		<title>Print this page!</title>
	</head>
	

	<body>
		<div id="navbar">
			<a href="/">Home</a> | <a href="budget">Budget</a> | <a href="checklist">To Do</a> | <a href="amenities">Amenities</a> | <a href="transportation">Transportation</a> | <a href="lodging">Lodging</a>
		</div>
		<h1>My Itinerary and Checklist</h1>



	</body>


</html>