<html>
	<head>
		<link rel="stylesheet" type="text/css" href="style_print.css">
		<title>Print this page!</title>
	</head>
	

	<body>
		<div id="navbar">
			<a href="/">Home</a> | <a href="budget">Budget</a> | <a href="checklist">To Do</a> | <a href="amenities">Amenities</a> | <a href="transportation">Transportation</a> | <a href="lodging">Lodging</a>
		</div>
		<h1>My Itinerary and Checklist</h1>

		<p>My trip to: <span><%= session[:destination] %></span></p>
		<p>I am getting there by: <span><%= session[:transportation_type] %></span></p>

		<div class="todo_print">
			<h3>Don't Forget!</h3>
			<ul>
				<% dont_forget.each do |item| %>
					<li><%= item %></li>
				<% end %>
			</ul>
		</div>

		<div class="todo_print">
			<h3>My Tasks to do before the trip:</h3>
			<ul>
				<% session[:user_todo].each do |item| %>
					<li><%= item %></li>
				<% end %>
			</ul>
		</div>
	</body>


</html>