<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="style_print.css">
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css"> 
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/base-min.css">
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/forms-min.css">
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
		<title>Print this page</title>
	</head>
	<body>


	<div class="navbar">
    	<div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
        	<ul>
            	<li class="pure-menu-selected"><a href="/">Home</a></li>
            	<li><a href="checklist">To Do</a></li>
            	<li><a href="budget">Budget</a></li>
            	<li><a href="bills">Splitting Bills</a></li>
            	<li><a href="transportation">Transportation</a></li>
            	<li><a href="lodging">Lodging</a></li>
            	<li><a href="print">Print-out Page</a></li>
        	</ul>
    	</div>
	</div><br><br><br>


		<h1 class="heading">My Itinerary and Checklist</h1>

		<p>My trip to: <span><%= session[:destination] %></span></p>
		<p>I am getting there by: <span><%= session[:transportation_type] %></span></p>

		<div class="todo_print">
			<h3>Don't Forget!</h3>
			<ul>
				<% dont_forget.each do |item| %>
					<li><%= item %></li>
				<% end %>
			</ul>
		</div>

		<div class="todo_print">
			<h3>My Tasks to do before the trip:</h3>
			<ul>
				<% session[:user_todo].each do |item| %>
					<li><%= item %></li>
				<% end %>
			</ul>
		</div>
	</body>


</html>