<html>
	<head>
		<title>Vacation App</title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<div id="navbar">
			<a href="/">Home</a> || <a href="budget">Budget</a> || <a href="#">To Do</a> || <a href="#">Amenities</a> || <a href="transportation">Transportation</a> || <a href="lodging">Lodging</a>
		</div>
		<h1>We are here to help you plan your next vacation</h1>

		<div class="transportation" id="flights">
				<h3> Main Airlines </h3>
			<ul>
      			<li><a href="www.americanairlines.com">American Airlines</a></li>
      			<li><a href="www.deltaairlines.com">Delta Airlines</a></li>
      			<li><a href="www.unitedairlines.com">United Airlines</a></li>
   			</ul>
		</div>

		<div class="transportation" id="train">
				<h3> Trains & Railroads </h3>
			<ul>
      			<li><a href="www.amtrak.com">Amtrak</a></li>
      			<li><a href="#">RailEurope</a></li>
      			<li><a href="http://www.cn.ca/">Canada</a></li>
   			</ul>
		</div>

		<div class="transportation" id="cruise">
				<h3> Cruises </h3>
			<ul>
      			<li><a href="www.carnival.com">Carnival</a></li>
      			<li><a href="http://disneycruise.disney.go.com/">DisneyCruise</a></li>
      			<li><a href="http://www.americancruiselines.com/">American Cruise Lines</a></li>
   			</ul>
		</div>

		<div class="transportation" id="bus">
				<h3> Buses </h3>
			<ul>
      			<li><a href="http://www.coachusa.com/">Coach USA</a></li>
      			<li><a href="https://www.greyhound.com/">GreyHound</a></li>
      			<li><a href="https://us.megabus.com/">Megabus</a></li>
   			</ul>

		</div>
	</body>


</html>