<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="style_index.css">
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css"> 
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/base-min.css">
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/forms-min.css">
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
		<title>Transportation</title>
	</head>
	<body>

	<div class="navbar">
    	<div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
        	<ul>
            	<li class="pure-menu-selected"><a href="/">Home</a></li>
            	<li><a href="checklist">To Do</a></li>
            	<li><a href="budget">Budget</a></li>
            	<li><a href="bills">Splitting Bills</a></li>
            	<li><a href="transportation">Transportation</a></li>
            	<li><a href="lodging">Lodging</a></li>
            	<li><a href="print">Print-out Page</a></li>
        	</ul>
    	</div>
	</div>
		<h1>We are here to help you go from your origin to your destination</h1>

		<div class="transportation pure-g" id="flights">
			<div class="pure-u-lg-2-3 pure-u-md-1-2 pure-u-sm-1-1"><h3>Main Airlines</h3>
				<ul>
	      			<div class="links"><li><a href="http://www.americanairlines.com">American Airlines</a></li></div>
	      			<div class="links"><li><a href="http://www.deltaairlines.com">Delta Airlines</a></li></div>
	      			<div class="links"><li><a href="http://www.unitedairlines.com">United Airlines</a></li></div>
	      			<div class="links"><li><a href="http://www.britishairways.com">British Airways</a></li></div>
	      			<div class="links"><li><a href="http://www.airfrance.us">Air France</a></li></div>
	      			<div class="links"><li><a href="http://www.emirates.com/us">Emirates</a></li></div>
	      			<div class="links"><li><a href="http://www.qantas.com/us">Qantas</a></li></div>
	      			<div class="links"><li><a href="http://www.lufthansa.com">Lufthansa</a></li></div>
	   			</ul>
			</div><div class="pure-u-lg-1-3 pure-u-md-1-2 pure-u-1-1">
	   			<h3>Budget Airlines</h3>
	   			<ul>
	      			<div class="links" id="swa"><li><a href="http://www.southwest.com">Southwest Airlines</a></li></div>
	      			<div class="links"><li><a href="http://www.ryanair.com">Ryanair</a></li></div>
	      			<div class="links"><li><a href="http://www.easyjet.com">Easy Jet</a></li></div>
	   			</ul>
			</div>
		</div>

		<div class="transportation" id="train">
				<h3> Trains & Railroads </h3>
			<ul>
      			<li><a href="http://www.amtrak.com">Amtrak</a></li>
      			<li><a href="#">RailEurope</a></li>
      			<li><a href="http://www.cn.ca/">Canada</a></li>
   			</ul>
		</div>

		<div class="transportation" id="cruise">
				<h3> Cruises </h3>
			<ul>
      			<li><a href="http://www.carnival.com">Carnival</a></li>
      			<li><a href="http://disneycruise.disney.go.com/">DisneyCruise</a></li>
      			<li><a href="http://www.americancruiselines.com/">American Cruise Lines</a></li>
   			</ul>
		</div>

		<div class="transportation" id="bus">
				<h3> Buses </h3>
			<ul>
      			<li><a href="http://www.coachusa.com/">Coach USA</a></li>
      			<li><a href="https://www.greyhound.com/">GreyHound</a></li>
      			<li><a href="https://us.megabus.com/">Megabus</a></li>
   			</ul>

		</div>
	</body>


</html>