body{
	background-image: url("grey_wash_wall.png");
}


h1{
	padding: 25px;
	color: white;
}

.budget{
	text-align: center;
	font-size: 24px;
	background-color: beige;
	border: 6px solid #949599;
  	height: 50px;
  	margin: auto;
  	padding: 20px;
  	width: 200px;

}

.bill_split{
	font-size: 24px;
}

.theform{
	padding-left: 35px;
	font-size: 24px;
	color:white;
}

#button_budget{
    margin: 40px;

}

label{
	padding: 4px;
}

.theform_split{
	padding-top: 5px;
	padding-left: 30px;
	font-size: 18px;
	color:white;
}

.button-secondary {
    color: white;
    border-radius: 2px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.links{
	display: inline-block;
	width: 138px;
	height: 70px;
}
.links a{
	text-decoration: none;
	color: red;
	border: 1px black solid;
	display: block;
	padding: 25px 0;
}

.links li{
	list-style-type: none;
}

/*Here are the background images for airline logos*/
#swa{
	background-image: url(images/swa.jpg);
	background-position: center;
}
#american{
	background-image: url(images/american.jpg);	
	background-position: center;
}
#delta{
	background-image: url(images/delta.jpg);	
	background-position: center;
}
#united{
	background-image: url(images/united.png);	
	background-position: center;
}
#british{
	background-image: url(images/british.jpg);	
	background-position: center;
}
#airfrance{
	background-image: url(images/airfrance.jpg);	
	background-position: center;
}
#emirates{
	background-image: url(images/emirates.jpg);	
	background-position: center;
}

