body{
background-color: grey;
}

 
h1{
	padding: 25px;
	color: white;
}

.budget{
	text-align: center;
	font-size: 24px;
	background-color: beige;
	border: 6px solid #949599;
  	height: 50px;
  	margin: auto;
  	padding: 20px;
  	width: 200px;

}

/*span{
	layout:inline;
}*/

.theform{
	padding-left: 35px;
	font-size: 24px;
	color:white;
}

#button_budget{
    margin: 40px;

}

/*.theform label{
	font-size: 24px;
	color:white;
}

.theform input,
.theform label,
.theform select{
	margin: 10px;
	display: block;
}

.theform input {
	width: 200px;
	height: 30px;
}*/


